<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />
    <link
      rel="icon"
      type="images/x-icon"
      href="https://courses.uet.vnu.edu.vn/pluginfile.php/1/theme_lambda/favicon/1695283202/captiveportal-logo2_new.png"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="/css/grid.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Check order</title>
  </head>
  <body>
    <div class="container">
      <div class="orders">
        <div class="info">
          <h2>
            Đơn hàng đang trong quá trình vận chuyển
            <i class="fi fi-rs-shipping-fast"></i>
          </h2>
        </div>
        <div class="shipper">
          <span class="ship">Người giao hàng:</span>
          <span class="name-shipper">Nguyễn Văn A</span>
        </div>
        <div class="info-all">
          <div class="info-person">
            <h3>Thông tin người đặt hàng</h3>
            <div class="name">Họ và tên: Nguyễn Quang Cường</div>
            <div class="phone">Số điện thoại: 09123456789</div>
            <div class="address">Địa chỉ: Thị Trấn Lim, Tiên Du, Bắc Ninh</div>
            <div class="note">Ghi chú: abchehehuhuhihi</div>
            <div class="total-money">Tổng tiền thanh toán: 100000000</div>
          </div>
          <div class="info-products">
            <h3>Thông tin đơn hàng</h3>
            <div class="product">
              <div class="image">
                <img src="/images/iphone-15-pro-max_2__5.webp" alt="" />
              </div>
              <div class="wrap">
                <div class="info-phone">Iphone 15 ProMax</div>
                <div class="color">Màu xám</div>
                <div class="quantity">Số lượng: 1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
