@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: Inter, sans-serif;
}

.header {
  background-color: rgba(247, 58, 58, 0.797);
  position: sticky;
  inset: 0;
  z-index: 99;
  color: #ffffff; /* Màu trắng cho văn bản và biểu tượng nếu màu nền đậm */
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header .container .box {
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  padding: 5px;
}
.header .container .box .title-shop {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: Inter, sans-serif;
  padding: 5px;
  color: rgb(0, 255, 217);
}
.header .container .box .border-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 238, 255);
  animation: animate-border-top 2s linear infinite;
}
.header .container .box .border-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(0, 238, 255);
  animation: animate-border-right 2s linear infinite;
  animation-delay: 1s;
}
.header .container .box .border-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(0, 238, 255);
  animation: animate-border-bottom 2s linear infinite;
}
.header .container .box .border-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(0, 238, 255);
  animation: animate-border-left 2s linear infinite;
  animation-delay: 1s;
}
.header .container .navi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}
.header .container .navi li {
  transition: 0.4s ease;
}
.header .container .navi li a {
  font-size: 20px;
  color: #fff;
  transition: color 0.25s linear;
}
.header .container .navi li a:hover {
  color: #c6e785;
}
.header .container .cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .container .cart .input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efa94a;
  position: relative;
  max-width: 60px;
  height: 36px;
  margin: 0 50px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
.header .container .cart .input-box.open {
  max-width: 350px;
}
.header .container .cart .input-box input {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.header .container .cart .input-box.open input {
  padding: 0 15px 0 65px;
}
.header .container .cart .input-box .search {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.header .container .cart .input-box.open .search {
  border-radius: 6px 0 0 6px;
}
.header .container .cart .search .search-icon {
  font-size: 20px;
  color: #1c1c1c;
}
.header .container .cart .icon-cart {
  font-size: 26px;
  position: relative;
  color: #fff;
}
.header .container .cart .icon-cart .quantity-product {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00aefd;
  top: -15px;
  right: -18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header hr {
  color: black;
  opacity: 0.3;
}

.select-products .container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.select-products .container .info-bar {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 200px;
  overflow: hidden;
  padding: 0;
  width: 205px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}
.select-products .container .info-bar .phone {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
  cursor: pointer;
}
.select-products .container .info-bar .phone:nth-child(1) {
  margin-top: 10px;
}
.select-products .container .info-bar .phone .right {
  padding-right: 10px;
}
.select-products .container .carousel {
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  width: 690px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  cursor: pointer;
}
.select-products .container .carousel .carousel-inner {
  display: flex;
  transition: translate 0.3s ease-in-out;
}
.select-products .container .carousel .carousel-inner img {
  min-height: 350px;
  object-fit: cover;
}
.select-products .container .carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  display: flex;
  color: #fff;
  background-color: rgba(75, 74, 74, 0.5);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}
.select-products .container .carousel .carousel-nav span.prev {
  left: 0px;
  user-select: none;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}
.select-products .container .carousel .carousel-nav span.prev.appear {
  transform: translateX(0);
}
.select-products .container .carousel .carousel-nav span.next {
  right: 0px;
  user-select: none;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.select-products .container .carousel .carousel-nav span.next.appear {
  transform: translateX(0);
}
.select-products .container .carousel .dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 10;
  gap: 10px;
}
.select-products .container .carousel .dots .dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
.select-products .container .carousel .dots .dot:hover {
  background-color: rgb(252, 181, 48);
}
.select-products .container .carousel .dots .dot.active {
  background-color: rgb(252, 181, 48);
}
.select-products .container .right-bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.select-products .container .right-bar a img {
  width: 258px;
  border-radius: 10px;
}

@keyframes animate-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate-border-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate-border-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate-border-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.banner-section .container .banner-student {
  margin-top: 20px;
}
.banner-section .container .banner-student img {
  border-radius: 10px;
}

.main-products {
  margin-top: 20px;
}
.main-products .container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-products .container .title h2 {
  font-size: 1.6rem;
  font-weight: 700;
}
.main-products .container .title .info {
  display: flex;
  gap: 20px;
}
.main-products .container .title .info .apple,
.main-products .container .title .info .xiaomi,
.main-products .container .title .info .samsung,
.main-products .container .title .info .oppo {
  border: 1px solid #ccc;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: #eae9e9;
}
.main-products .container .product-info-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  min-height: 380px;
}
.main-products .container .product-info-container .product-info {
  border: 1px solid #ccc;
  width: 228px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  border-radius: 10px;
}
.main-products .container .product-info-container .product-info a {
  display: flex;
  flex-direction: column;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.main-products .container .product-info-container .product-info a:hover .product-images img {
  top: -25px;
}
.main-products .container .product-info-container .product-info a .product-images {
  text-align: center;
  position: relative;
  margin-bottom: 13px;
  margin-top: 10px;
}
.main-products .container .product-info-container .product-info a .product-images img {
  width: 170px;
  height: 170px;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
  top: 0;
}
.main-products .container .product-info-container .product-info a .product-name {
  margin-top: 8px;
}
.main-products .container .product-info-container .product-info a .product-name h3 {
  font-size: 14px;
  font-weight: 600;
}
.main-products .container .product-info-container .product-info a .box-price {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.main-products .container .product-info-container .product-info a .box-price .price-right {
  font-size: 14px;
  text-decoration: line-through;
}
.main-products .container .product-info-container .product-info a .box-price .price-left {
  color: red;
  font-weight: 600;
}
.main-products .container .product-info-container .product-info a .guarantee {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #edebeb;
}
.main-products .container .product-info-container .product-info a .guarantee p {
  padding: 5px 5px 5px 10px;
  font-size: 13px;
}
.main-products .container .product-info-container .product-info a .rating {
  margin-top: 20px;
}
.main-products .container .product-info-container .product-info a .rating i {
  color: #f59e0b;
}
.main-products .container .product-info-container .product-info a .comment {
  margin-top: 10px;
}

.section-product .container {
  margin-top: 30px;
}
.section-product .container .title-product {
  display: flex;
  gap: 20px;
  align-items: baseline;
  margin-bottom: 30px;
}
.section-product .container .title-product h3 {
  font-size: 24px;
  font-weight: 600;
}
.section-product .container .title-product .rating i {
  color: #f59e0b;
}
.section-product .container .info-product {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  display: flex;
  gap: 50px;
}
.section-product .container .info-product .image {
  max-width: 550px;
}
.section-product .container .info-product .image .image-1 {
  height: 500px;
  width: 500px;
  margin-bottom: 30px;
}
.section-product .container .info-product .image .image-1 img {
  margin-top: 10px;
}
.section-product .container .info-product .image .image-2 {
  width: 500px;
  height: 140px;
  padding-left: 10px;
}
.section-product .container .info-product .image .info-image {
  margin-left: 20px;
}
.section-product .container .info-product .image .info-image .include-product {
  background-color: rgb(255, 231, 233);
  padding: 10px 10px;
  border-radius: 5px;
}
.section-product .container .info-product .image .info-image .include-product .title {
  display: flex;
  gap: 20px;
}
.section-product .container .info-product .image .info-image .include-product .title p {
  font-weight: 600;
}
.section-product .container .info-product .image .info-image .include-product .info-desc {
  margin-top: 10px;
  line-height: 30px;
}
.section-product .container .info-product .image .info-image .include-product .info-final-include {
  margin-top: 25px;
}
.section-product .container .info-product .image .info-image .include-product .info-final-include span {
  font-weight: 600;
  line-height: 30px;
}
.section-product .container .info-product .image .info-image .include-product .policy {
  margin-top: 20px;
}
.section-product .container .info-product .image .info-image .include-product .policy .info-desc-policy p {
  margin-top: 20px;
  line-height: 20px;
}
.section-product .container .info-product .image .info-image .include-product .policy .info-desc-policy p span {
  font-weight: bold;
}
.section-product .container .info-product .image .info-image .include-product .policy .info-desc-policy .footer-policy span {
  font-weight: bold;
}
.section-product .container .info-product .image .info-image .introduct-product {
  margin-top: 20px;
}
.section-product .container .info-product .image .info-image .introduct-product p {
  line-height: 20px;
}
.section-product .container .info-product .image .info-image .introduct-product p span {
  font-weight: bold;
}
.section-product .container .info-product .info-phone {
  /* <select> styles */
}
.section-product .container .info-product .info-phone .title-info-phone {
  margin-top: 10px;
}
.section-product .container .info-product .info-phone .title-info-phone h3 {
  font-size: 20px;
  font-weight: bold;
}
.section-product .container .info-product .info-phone .id-product {
  margin-top: 10px;
}
.section-product .container .info-product .info-phone .choose-color {
  margin-top: 10px;
  opacity: 0.6;
}
.section-product .container .info-product .info-phone .form select {
  margin-top: 15px;
  background: linear-gradient(35deg, red, purple);
  border: 0;
  outline: 0;
  font: inherit;
  padding: 1rem 4rem 1rem 1rem;
  color: wheat;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.section-product .container .info-product .info-phone .form select option {
  color: black;
}
.section-product .container .info-product .info-phone .form .btn-submit-color {
  padding: 1rem 1rem;
  border-radius: 0.25em;
  border: none;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}
.section-product .container .info-product .info-phone .costs {
  margin-top: 20px;
}
.section-product .container .info-product .info-phone .costs h4 {
  font-size: 20px;
  font-weight: 500;
}
.section-product .container .info-product .info-phone .costs .box-price {
  margin-top: 20px;
  display: none;
}
.section-product .container .info-product .info-phone .costs .box-price .price-right {
  font-size: 14px;
  text-decoration: line-through;
}
.section-product .container .info-product .info-phone .costs .box-price .price-left {
  font-size: 36px;
  color: #be1e2d;
  font-weight: 600;
}
.section-product .container .info-product .info-phone .costs .box-price.checkedBlack {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.section-product .container .info-product .info-phone .costs .box-price.checkedWhite {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.section-product .container .info-product .info-phone .buy-product {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}
.section-product .container .info-product .info-phone .buy-product .buy-now .btn-buy {
  padding: 0 20px;
  background: linear-gradient(#f52f32, #e11b1e);
  border: none;
  border-radius: 10px;
  color: #fff;
  flex-direction: column;
  display: flex;
  height: 70px;
  margin-bottom: 30px;
  outline: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section-product .container .info-product .info-phone .buy-product .buy-now .btn-buy strong {
  font-weight: 700;
  font-size: 20px;
}
.section-product .container .info-product .info-phone .buy-product .buy-now .btn-buy span {
  margin-top: 6px;
  display: block;
  font-size: 14px;
  position: relative;
}
.section-product .container .info-product .info-phone .buy-product .add-to-cart .add-cart {
  background-color: initial;
  border: 2px solid #e04040;
  border-radius: 10px;
  flex-direction: column;
  height: 70px;
  width: 70px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.section-product .container .info-product .info-phone .buy-product .add-to-cart .add-cart img {
  height: 30px;
  object-fit: contain;
  width: 30px;
}
.section-product .container .info-product .info-phone .buy-product .add-to-cart .add-cart span {
  color: #e04040;
  font-size: 9px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.section-product .container .info-product .info-phone .discount {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.section-product .container .info-product .info-phone .discount .title {
  background-color: #d1d5db;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.section-product .container .info-product .info-phone .discount .title h4 {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 600;
}
.section-product .container .info-product .info-phone .discount .info-discount li {
  line-height: 30px;
}
.section-product .container .info-product .info-phone .discount .info-discount li::before {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 48 48'%3E%3Cpath fill='%234caf50' d='M44 24c0 11.045-8.955 20-20 20S4 35.045 4 24 12.955 4 24 4s20 8.955 20 20z'/%3E%3Cpath fill='%23ccff90' d='M34.602 14.602 21 28.199l-5.602-5.598-2.797 2.797L21 33.801l16.398-16.402-2.796-2.797z'/%3E%3C/svg%3E");
  margin-right: 4px;
  position: relative;
  top: 2px;
  display: inline-block;
}

.build-cart {
  margin-top: 20px;
}
.build-cart .container .undo-home {
  cursor: pointer;
}
.build-cart .container .undo-home:nth-child(1) {
  font-size: 20px;
  color: rgb(190, 30, 45);
}
.build-cart .container .cart-product {
  margin-top: 25px;
}
.build-cart .container .cart-product .header-cart-product {
  display: flex;
}
.build-cart .container .cart-product .header-cart-product .headerCart,
.build-cart .container .cart-product .header-cart-product .total-final {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.build-cart .container .cart-product .header-cart-product .headerCart h3,
.build-cart .container .cart-product .header-cart-product .total-final h3 {
  font-size: 28px;
  font-weight: 500;
}
.build-cart .container .cart-product .header-cart-product .headerCart {
  flex: 2.6;
}
.build-cart .container .cart-product .header-cart-product .total-final {
  flex: 1;
}
.build-cart .container .cart-product .info-cart-product {
  margin-top: 20px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product {
  display: flex;
  gap: 20px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 850px;
  margin: 0;
  background-color: #fff;
  min-height: 150px;
  border-radius: 10px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .row .method-product {
  display: flex;
  gap: 90px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart:nth-child(3) {
  padding-top: 20px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart:last-of-type {
  margin-bottom: 0px;
  border-bottom: none;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .image-product {
  max-width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .image-product img {
  width: 61px;
  height: 64px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .image-product .info-image {
  font-size: 15px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .costs-product {
  flex: 0;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .quantity-product {
  margin-left: 25px;
  margin-right: 50px;
  flex: 2.5;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .quantity-product .counter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .quantity-product .counter-number {
  font-size: 25px;
  margin: 0 10px;
  color: transparent;
  background-image: linear-gradient(to right, #00aefd, #ff6bcb);
  -webkit-background-clip: text;
  background-clip: text;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .quantity-product .counter button {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border: 0;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .total-product {
  flex: 3;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .container .product-cart .operation {
  flex: 1;
  cursor: pointer;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .final-buy-cart .title-final-cart {
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 120px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .final-buy-cart .title-final-cart .text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.build-cart .container .cart-product .info-cart-product .title-cart-product .final-buy-cart .title-final-cart .buy {
  width: 100%;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  background-color: #ee3f41;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.scroll-top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-login {
  border: none;
  padding: 4px;
  outline: none;
  color: #717070;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-login i {
  padding-left: 8px;
  font-size: 20px;
}

.search-btn i {
  font-size: 20px;
  color: #717070;
  cursor: pointer;
}

/* MODAL CONTAINER */
.modal {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition: all 0.2s ease-in-out;
}

.modal-container {
  max-width: 526px;
  margin: 60px auto;
  background: #fff;
  /* padding: 0 40px; */
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;
  transition: top 0.4s ease-in-out;
  overflow: hidden;
}

.modal-header {
  width: 100%;
}

.header-main {
  display: flex;
  /* justify-content: space-between; */
  /* padding-left: 40px; */
  font-weight: 600;
  font-size: 17px;
}

.modal-login,
.modal-register {
  padding: 20px 0;
  cursor: pointer;
  flex-basis: 50%;
  text-align: center;
}

.modal-register {
  /* background-color: burlywood; */
}

.text-desc {
  display: block;
  margin: 20px 0;
  text-align: center;
}

.btn-container {
  padding: 0 40px;
}

.container-inner {
  display: flex;
  justify-content: space-between;
}

.btn-container img {
  width: 20px;
}

.login-google,
.login-facebook {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.text-or {
  display: block;
  margin: 20px 0;
  text-align: center;
  font-size: 15px;
  position: relative;
}

.text-or::after,
.text-or::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #f0f0f0;
  top: 50%;
  transform: translateY(-50%);
}

.text-or::before {
  left: 0;
}

.text-or::after {
  right: 5px;
}

.form-register,
.form-login {
  padding: 0 40px;
}

.form-register input,
.form-login input {
  padding: 16px;
  min-width: 95%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 6px;
  margin: 10px 0;
}

.name-container,
.password-container,
.email-container {
  margin-bottom: 20px;
}

.title-name,
.title-password,
.title-email {
  margin-bottom: 8px;
}

.password-container {
  position: relative;
}

.password-container .show-hide {
  position: absolute;
  right: 38px;
  top: 44px;
  /* transform: translateY(-50%); */
  color: #7c7c7c;
  cursor: pointer;
  font-size: 16px;
}

.password-container .show-register {
  /* transform: translateY(-50%); */
}

.forget-password {
  margin-bottom: 20px;
  text-align: right;
  cursor: pointer;
  font-style: italic;
  color: #999;
}

.register-login,
.submit-login {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  background-color: #1a7900;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

/* DESCRIPTION */
.desc-register {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.text-policy {
  margin-bottom: 20px;
  line-height: 1.4;
}

.text-policy a {
  color: #306aff;
}

/* OVERLAY */
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  transition-property: opacity, visibility;
  /* z-index: 0; */
}

.modal.show .overlay {
  opacity: 1;
  visibility: visible;
}

/* FOR JS */
.no-active {
  background-color: #eee;
  color: #999;
  width: 100%;
}

/* .modal.show .modal-container {
    top: 30px;
  } */
.modal.show {
  opacity: 1;
  visibility: visible;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.form .invalid input {
  border-color: red !important;
}

.form .invalid .form-message {
  color: red;
  font-style: italic;
}

.container-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container-payment .payment {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.container-payment .payment .header-payment {
  border-bottom: 1px solid #ccc;
  width: 100%;
  display: flex;
  gap: 200px;
  padding-bottom: 10px;
}
.container-payment .payment .header-payment i {
  font-size: 20px;
}
.container-payment .payment .header-payment span {
  font-size: 23px;
}
.container-payment .payment .list-product {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-payment .payment .list-product .product {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 10px;
  gap: 20px;
  border-radius: 6px;
}
.container-payment .payment .list-product .product .image img {
  width: 100px;
  height: 90px;
}
.container-payment .payment .list-product .product .info-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-payment .payment .list-product .product .info-image .cost-quantity {
  display: flex;
  justify-content: space-between;
}
.container-payment .payment .list-product .product .info-image .cost-quantity .cost {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.container-payment .payment .list-product .product .info-image .cost-quantity .cost .cost-real {
  color: red;
}
.container-payment .payment .list-product .product .info-image .cost-quantity .cost .cost-discount {
  font-size: 12px;
  text-decoration: line-through;
}
.container-payment .payment .customer h3 {
  margin-bottom: 10px;
}
.container-payment .payment .customer .info-customer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 20px;
  border-radius: 6px;
}
.container-payment .payment .customer .info-customer .name-phone {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.container-payment .payment .customer .info-customer .name-phone .name {
  position: relative;
}
.container-payment .payment .customer .info-customer .name-phone .name .input-name {
  padding: 10px 15px;
  width: 280px;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.container-payment .payment .customer .info-customer .name-phone .name .input-name:not(:placeholder-shown) + .label-name {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .customer .info-customer .name-phone .name .input-name:focus {
  border-color: #6a5af9;
}
.container-payment .payment .customer .info-customer .name-phone .name .input-name:focus + .label-name {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .customer .info-customer .name-phone .name .label-name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 13px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.container-payment .payment .customer .info-customer .name-phone .phone {
  position: relative;
}
.container-payment .payment .customer .info-customer .name-phone .phone .input-tel {
  padding: 10px 15px;
  width: 270px;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.container-payment .payment .customer .info-customer .name-phone .phone .input-tel:not(:placeholder-shown) + .label-phone {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .customer .info-customer .name-phone .phone .input-tel:focus {
  border-color: #6a5af9;
}
.container-payment .payment .customer .info-customer .name-phone .phone .input-tel:focus + .label-phone {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .customer .info-customer .name-phone .phone .label-phone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 13px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.container-payment .payment .customer .info-customer .email-customer {
  position: relative;
}
.container-payment .payment .customer .info-customer .email-customer .input-email {
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.container-payment .payment .customer .info-customer .email-customer .input-email:not(:placeholder-shown) + .label-email {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .customer .info-customer .email-customer .input-email:focus {
  border-color: #6a5af9;
}
.container-payment .payment .customer .info-customer .email-customer .input-email:focus + .label-email {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .customer .info-customer .email-customer .label-email {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 13px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.container-payment .payment .customer .info-customer .offer {
  display: flex;
  gap: 5px;
}
.container-payment .payment .customer .info-customer .offer input {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.container-payment .payment .receive h3 {
  margin-bottom: 10px;
}
.container-payment .payment .receive .info-receive {
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 20px;
  border-radius: 4px;
}
.container-payment .payment .receive .info-receive .province-district {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.container-payment .payment .receive .info-receive .province-district .province-customer {
  position: relative;
}
.container-payment .payment .receive .info-receive .province-district .province-customer .input-province {
  padding: 10px 15px;
  width: 280px;
  border-radius: 6px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.container-payment .payment .receive .info-receive .province-district .province-customer .input-province:not(:placeholder-shown) + .label-province {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .receive .info-receive .province-district .province-customer .input-province:focus {
  border-color: #6a5af9;
}
.container-payment .payment .receive .info-receive .province-district .province-customer .input-province:focus + .label-province {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .receive .info-receive .province-district .province-customer .label-province {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 13px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.container-payment .payment .receive .info-receive .province-district .district-customer {
  position: relative;
}
.container-payment .payment .receive .info-receive .province-district .district-customer .input-district {
  padding: 10px 15px;
  width: 270px;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.container-payment .payment .receive .info-receive .province-district .district-customer .input-district:not(:placeholder-shown) + .label-district {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .receive .info-receive .province-district .district-customer .input-district:focus {
  border-color: #6a5af9;
}
.container-payment .payment .receive .info-receive .province-district .district-customer .input-district:focus + .label-district {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .receive .info-receive .province-district .district-customer .label-district {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 13px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.container-payment .payment .receive .info-receive .note-customer {
  position: relative;
}
.container-payment .payment .receive .info-receive .note-customer .input-note {
  padding: 10px 15px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.container-payment .payment .receive .info-receive .note-customer .input-note:not(:placeholder-shown) + .label-note {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .receive .info-receive .note-customer .input-note:focus {
  border-color: #6a5af9;
}
.container-payment .payment .receive .info-receive .note-customer .input-note:focus + .label-note {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .receive .info-receive .note-customer .label-note {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 13px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.container-payment .payment .receive .info-receive .offer {
  display: flex;
  gap: 5px;
}
.container-payment .payment .receive .info-receive .offer input {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
.container-payment .payment .table-buy {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 20px;
}
.container-payment .payment .table-buy .discount-customer {
  display: flex;
  justify-content: space-between;
}
.container-payment .payment .table-buy .discount-customer .costume-input {
  position: relative;
}
.container-payment .payment .table-buy .discount-customer .costume-input .input-discount {
  padding: 10px 15px;
  width: 450px;
  border-radius: 6px;
  border: 1px solid #eee;
  transition: all 0.3s ease-in-out;
  outline: none;
}
.container-payment .payment .table-buy .discount-customer .costume-input .input-discount:not(:placeholder-shown) + .label-discount {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .table-buy .discount-customer .costume-input .input-discount:focus {
  border-color: #6a5af9;
}
.container-payment .payment .table-buy .discount-customer .costume-input .input-discount:focus + .label-discount {
  top: 0;
  padding: 0 8px;
  display: inline-block;
  background-color: #fff;
  color: #6a5af9;
}
.container-payment .payment .table-buy .discount-customer .costume-input .label-discount {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  font-size: 13px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.container-payment .payment .table-buy .discount-customer .btn-discount {
  background-color: #d70018;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.container-payment .payment .table-buy .info-buy {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-payment .payment .table-buy .info-buy .quantity,
.container-payment .payment .table-buy .info-buy .total-money,
.container-payment .payment .table-buy .info-buy .fee-transport,
.container-payment .payment .table-buy .info-buy .final-total {
  display: flex;
  justify-content: space-between;
}
.container-payment .payment .table-buy .info-buy .quantity span:first-child,
.container-payment .payment .table-buy .info-buy .total-money span:first-child,
.container-payment .payment .table-buy .info-buy .fee-transport span:first-child,
.container-payment .payment .table-buy .info-buy .final-total span:first-child {
  opacity: 0.6;
}
.container-payment .payment .table-buy .info-buy .fee-transport {
  border-bottom: 1px solid #eee;
}
.container-payment .payment .table-buy .info-buy .fee-transport span {
  margin-bottom: 20px;
}
.container-payment .payment .pay {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-payment .payment .pay .pay-cost {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px 20px;
  border-radius: 6px;
}
.container-payment .payment .pay .payment {
  display: flex;
  align-items: center;
  height: 60px;
}
.container-payment .payment .pay .payment .btn-pay {
  padding: 10px 10px;
  width: 90%;
  border-radius: 6px;
  background-color: red;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.container-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #faebeb;
  padding: 20px;
  border-radius: 5px;
}
.container-footer .support h3,
.container-footer .policy h3,
.container-footer .contact h3,
.container-footer .connect h3 {
  color: rgb(214, 2, 2);
  margin-bottom: 20px;
}
.container-footer .support h4,
.container-footer .policy h4,
.container-footer .contact h4,
.container-footer .connect h4 {
  margin-bottom: 10px;
  cursor: pointer;
}
.container-footer .support h4:hover,
.container-footer .policy h4:hover,
.container-footer .contact h4:hover,
.container-footer .connect h4:hover {
  color: rgb(255, 86, 86);
}
.container-footer .connect .logos {
  display: flex;
  gap: 10px;
}

.container .orders {
  background-color: rgba(204, 204, 204, 0.6549019608);
  margin-top: 50px;
  padding: 10px 10px;
  min-height: 300px;
  border-radius: 5px;
}
.container .orders .info h2 {
  font-size: 20px;
  color: red;
  font-style: italic;
}
.container .orders .shipper {
  margin-top: 20px;
  font-size: 18px;
}
.container .orders .shipper .ship {
  font-weight: bold;
}
.container .orders .info-all {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.container .orders .info-all:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.container .orders .info-all .info-person,
.container .orders .info-all .info-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .orders .info-all .info-person h3,
.container .orders .info-all .info-products h3 {
  font-weight: bold;
}
.container .orders .info-all .wrapper {
  display: flex;
  flex-direction: column;
}
.container .orders .info-all .wrapper .info-products {
  min-width: 800px;
}
.container .orders .info-all .wrapper .info-products .product {
  display: flex;
  justify-content: flex-start;
  margin-right: 200px;
}
.container .orders .info-all .wrapper .info-products .product .image img {
  width: 90px;
  height: 90px;
}
.container .orders .info-all .wrapper .info-products .product .wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.appearIcon {
  display: none;
}

.checkIcon {
  font-size: 18px;
  color: #fff;
  transition: color 0.25s linear;
}
.checkIcon:hover {
  color: #c6e785;
}

/*# sourceMappingURL=style.css.map */
