body {
  font-family: $font;
}

// Header
.header {
  // background-color: #4e4949;
  // background: linear-gradient(to right, #e3e3e3, #f0f0f0);
  background-color: #383838; /* Màu xám đậm */
  position: sticky;
  inset: 0;
  z-index: 99;
  color: #ffffff; /* Màu trắng cho văn bản và biểu tượng nếu màu nền đậm */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .box {
      overflow: hidden;
      position: relative;
      border-radius: 5px;
      padding: 5px;
      .title-shop {
        font-size: 2.4rem;
        font-weight: 700;
        font-family: $font;
        padding: 5px;
        background: #121fcf;
        background: linear-gradient(to right, #5862e7 0%, #ea2d2a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .border-top {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 3px;
        // background: linear-gradient(to right, #71e9f1, #f9bc2d);
        background: linear-gradient(
          to right,
          #20b2aa,
          #3cb371
        ); // Gradient từ màu LightSeaGreen tới màu MediumSeaGreen
        animation: animate-border-top 2s linear infinite;
      }
      .border-right {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 3px;
        background: linear-gradient(to bottom, #71e9f1, #fcc23f);
        animation: animate-border-right 2s linear infinite;
        animation-delay: 1s;
      }
      .border-bottom {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to left, #71e9f1, #fcc23f);
        animation: animate-border-bottom 2s linear infinite;
      }
      .border-left {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: linear-gradient(to top, #71e9f1, #fcc23f);
        animation: animate-border-left 2s linear infinite;
        animation-delay: 1s;
      }
    }
    .navi {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      position: relative;
      li {
        transition: 0.4s ease;
        a {
          // color: $primaryColor;
          font-size: 20px;
          // background-color: #4158d0;
          // background-image: linear-gradient(
          //   to right,
          //   #4158d0 0%,
          //   #c850c0 46%,
          //   #ffcc70 100%
          // );
          // -webkit-background-clip: text;
          // -webkit-text-fill-color: transparent;
          background-image: linear-gradient(to right, #ff7e67, #ffb20f);
          -webkit-background-clip: text;
          color: transparent;
        }

        &:hover {
          &:nth-child(2) ~ .bar {
            left: 27%;
            width: 18%;
          }
        }
        &:hover {
          &:nth-child(3) ~ .bar {
            left: 58%;
          }
        }
        &:hover {
          &:nth-child(4) ~ .bar {
            left: 85%;
            width: 16%;
          }
        }
      }
      .bar {
        // width: 14%;
        // // background-color: #f564a9;
        // background: linear-gradient(to right, #9932cc, #1e90ff);
        // height: 3px;
        // position: absolute;
        // left: 0;
        // bottom: -5px;
        // transition: 0.5s ease;
        // border-radius: 2px;
        width: 14%;
        background: linear-gradient(
          to right,
          #20b2aa,
          #3cb371
        ); // Gradient từ màu LightSeaGreen tới màu MediumSeaGreen
        height: 3px;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: 0.5s ease;
        border-radius: 2px;
      }
    }

    .cart {
      display: flex;
      justify-content: center;
      align-items: center;
      .input-box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #efa94a;
        position: relative;
        max-width: 60px;
        height: 36px;
        margin: 0 50px;
        border-radius: 6px;
        transition: all 0.5s ease-in-out;
      }
      .input-box.open {
        max-width: 350px;
      }
      .input-box input {
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        padding: 0 15px;
        border: none;
        border-radius: 6px;
        outline: none;
        transition: all 0.5s ease-in-out;
      }
      .input-box.open input {
        padding: 0 15px 0 65px;
      }

      .input-box .search {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 6px;
        cursor: pointer;
      }
      .input-box.open .search {
        border-radius: 6px 0 0 6px;
      }
      .search .search-icon {
        font-size: 20px;
        color: #1c1c1c;
      }

      .icon-cart {
        font-size: 26px;
        position: relative;
        .quantity-product {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #00aefd;
          top: -15px;
          right: -18px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  hr {
    color: black;
    opacity: 0.3;
  }
}

// Select-products
.select-products {
  .container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    .info-bar {
      display: flex;
      flex-direction: column;
      gap: 22px;
      background-color: #fff;
      border-radius: 10px;
      min-height: 200px;
      overflow: hidden;
      padding: 0;
      width: 205px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
      .phone {
        display: flex;
        margin-left: 5px;
        justify-content: space-between;
        cursor: pointer;
        &:nth-child(1) {
          margin-top: 10px;
        }
        .right {
          padding-right: 10px;
        }
      }
    }

    .carousel {
      margin-left: 20px;
      position: relative;
      overflow: hidden;
      width: 690px;
      height: 350px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 10px;
      cursor: pointer;
      .carousel-inner {
        display: flex;
        transition: translate 0.3s ease-in-out;
        img {
          min-height: 350px;
          object-fit: cover;
        }
      }
      .carousel-nav span {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 40px;
        height: 40px;
        display: flex;
        color: #fff;
        background-color: rgba(75, 74, 74, 0.5);
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.5rem;
        &.prev {
          left: 0px;
          user-select: none;
          transform: translateX(-100%);
          transition: transform 0.4s ease-in-out;
          &.appear {
            transform: translateX(0);
          }
        }
        &.next {
          right: 0px;
          user-select: none;
          transform: translateX(100%);
          transition: transform 0.4s ease-in-out;
          &.appear {
            transform: translateX(0);
          }
        }
      }
      .dots {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        z-index: 10;
        gap: 10px;
        .dot {
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          cursor: pointer;
          background-color: #fff;
          &:hover {
            background-color: rgb(252, 181, 48);
          }

          &.active {
            background-color: rgb(252, 181, 48);
          }
        }
      }
    }
    .right-bar {
      display: flex;
      flex-direction: column;
      gap: 5px;
      a {
        img {
          width: 258px;
          border-radius: 10px;
        }
      }
    }
  }
}

@keyframes animate-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate-border-right {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes animate-border-bottom {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate-border-left {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

// Banner-section
.banner-section {
  .container {
    .banner-student {
      margin-top: 20px;
      img {
        border-radius: 10px;
      }
    }
  }
}

// Main-products
.main-products {
  margin-top: 20px;
  .container {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 1.6rem;
        font-weight: 700;
      }
      .info {
        display: flex;
        gap: 20px;
        .apple,
        .xiaomi,
        .samsung,
        .oppo {
          border: 1px solid #ccc;
          padding: 5px 5px;
          border-radius: 10px;
          background-color: #eae9e9;
        }
      }
    }
    // End .title
    .product-info-container {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      min-height: 380px;
      .product-info {
        border: 1px solid #ccc;
        width: 228px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px;
        border-radius: 10px;
        a {
          display: flex;
          flex-direction: column;
          transition: all 0.25s ease-in-out;
          position: relative;
          &:hover {
            .product-images {
              img {
                top: -25px;
              }
            }
          }
          .product-images {
            text-align: center;
            position: relative;
            img {
              width: 170px;
              height: 170px;
              padding: 10px;
              position: relative;
              transition: all 0.3s ease-in-out;
              top: 0;
            }
            margin-bottom: 13px;
            margin-top: 10px;
          }
          .product-name {
            margin-top: 8px;
            h3 {
              font-size: 14px;
              font-weight: 600;
            }
          }
          .box-price {
            margin-top: 30px;
            display: flex;
            gap: 10px;
            align-items: baseline;
            .price-right {
              font-size: 14px;
              text-decoration: line-through;
            }
            .price-left {
              color: red;
              font-weight: 600;
            }
          }
          .guarantee {
            border: 1px solid #ccc;
            margin-top: 10px;
            border-radius: 5px;
            background-color: #edebeb;
            p {
              padding: 5px 5px 5px 10px;
              font-size: 13px;
            }
          }
          .rating {
            margin-top: 20px;
            i {
              color: #f59e0b;
            }
          }
          .comment {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
// link-product
.section-product {
  .container {
    margin-top: 30px;
    .title-product {
      display: flex;
      gap: 20px;
      align-items: baseline;
      margin-bottom: 30px;
      h3 {
        font-size: 24px;
        font-weight: 600;
      }
      .rating {
        i {
          color: #f59e0b;
        }
      }
    }
    .info-product {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 15px;
      display: flex;
      gap: 50px;
      .image {
        max-width: 550px;
        .image-1 {
          height: 500px;
          width: 500px;
          margin-bottom: 30px;
          img {
            margin-top: 10px;
          }
        }
        .image-2 {
          width: 500px;
          height: 140px;
          padding-left: 10px;
        }
        .info-image {
          margin-left: 20px;
          .include-product {
            background-color: rgb(255, 231, 233);
            padding: 10px 10px;
            border-radius: 5px;
            .title {
              display: flex;
              gap: 20px;
              p {
                font-weight: 600;
              }
            }
            .info-desc {
              margin-top: 10px;
              line-height: 30px;
            }
            .info-final-include {
              margin-top: 25px;
              span {
                font-weight: 600;
                line-height: 30px;
              }
            }
            .policy {
              margin-top: 20px;
              .info-desc-policy {
                p {
                  margin-top: 20px;
                  line-height: 20px;
                  span {
                    font-weight: bold;
                  }
                }
                .footer-policy {
                  span {
                    font-weight: bold;
                  }
                }
              }
            }
          }
          .introduct-product {
            margin-top: 20px;
            p {
              line-height: 20px;
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
      .info-phone {
        .title-info-phone {
          margin-top: 10px;
          h3 {
            font-size: 20px;
            font-weight: bold;
          }
        }
        .id-product {
          margin-top: 10px;
        }
        .choose-color {
          margin-top: 10px;
          opacity: 0.6;
        }
        /* <select> styles */
        .form {
          select {
            margin-top: 15px;
            background: linear-gradient(35deg, red, purple);
            border: 0;
            outline: 0;
            font: inherit;
            padding: 1rem 4rem 1rem 1rem;
            color: wheat;
            border-radius: 0.25em;
            box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
            option {
              color: black;
            }
          }
          .btn-submit-color {
            padding: 1rem 1rem;
            border-radius: 0.25em;
            border: none;
            font-size: 16px;
            margin-left: 20px;
            cursor: pointer;
          }
        }

        .costs {
          margin-top: 20px;
          h4 {
            font-size: 20px;
            font-weight: 500;
          }
          .box-price {
            margin-top: 20px;
            display: none;
            .price-right {
              font-size: 14px;
              text-decoration: line-through;
            }
            .price-left {
              font-size: 36px;
              color: #be1e2d;
              font-weight: 600;
            }
            &.checkedBlack {
              display: flex;
              gap: 10px;
              align-items: baseline;
            }
            &.checkedWhite {
              display: flex;
              gap: 10px;
              align-items: baseline;
            }
          }
        }
        .buy-product {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          gap: 20px;
          .buy-now {
            .btn-buy {
              padding: 0 20px;
              background: linear-gradient(#f52f32, #e11b1e);
              border: none;
              border-radius: 10px;
              color: #fff;
              flex-direction: column;
              display: flex;
              height: 70px;
              margin-bottom: 30px;
              outline: none;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              strong {
                font-weight: 700;
                font-size: 20px;
              }
              span {
                margin-top: 6px;
                display: block;
                font-size: 14px;
                position: relative;
              }
            }
          }
          .add-to-cart {
            .add-cart {
              background-color: initial;
              border: 2px solid #e04040;
              border-radius: 10px;
              flex-direction: column;
              height: 70px;
              width: 70px;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 6px;
              img {
                height: 30px;
                object-fit: contain;
                width: 30px;
              }
              span {
                color: #e04040;
                font-size: 9px;
                font-weight: 600;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
        .discount {
          border: 1px solid #ccc;
          border-radius: 10px;
          .title {
            background-color: #d1d5db;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            h4 {
              padding: 10px 10px;
              font-size: 20px;
              font-weight: 600;
            }
          }
          .info-discount {
            li {
              line-height: 30px;
              &::before {
                content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 48 48'%3E%3Cpath fill='%234caf50' d='M44 24c0 11.045-8.955 20-20 20S4 35.045 4 24 12.955 4 24 4s20 8.955 20 20z'/%3E%3Cpath fill='%23ccff90' d='M34.602 14.602 21 28.199l-5.602-5.598-2.797 2.797L21 33.801l16.398-16.402-2.796-2.797z'/%3E%3C/svg%3E");
                margin-right: 4px;
                position: relative;
                top: 2px;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}

// Build Cart
.build-cart {
  margin-top: 20px;
  .container {
    .undo-home {
      cursor: pointer;
      &:nth-child(1) {
        font-size: 20px;
        color: rgb(190 30 45);
      }
    }
    .cart-product {
      margin-top: 25px;
      .header-cart-product {
        display: flex;
        // justify-content: space-between;
        .headerCart,
        .total-final {
          display: flex;
          align-items: baseline;
          gap: 10px;
          h3 {
            font-size: 28px;
            font-weight: 500;
          }
        }
        .headerCart {
          flex: 2.6;
        }
        .total-final {
          flex: 1;
        }
      }
      .info-cart-product {
        margin-top: 20px;
        .title-cart-product {
          display: flex;
          gap: 20px;
          .container {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            width: 850px;
            margin: 0;
            background-color: #fff;
            min-height: 150px;
            border-radius: 10px;
            .row {
              display: flex;
              justify-content: space-between;
              padding: 20px;
              .method-product {
                display: flex;
                gap: 90px;
              }
            }
            .product-cart {
              display: flex;
              justify-content: space-between;
              align-items: center;
              justify-content: center;
              border-bottom: 1px solid #ccc;
              padding-bottom: 20px;
              margin-bottom: 20px;

              &:nth-child(3) {
                padding-top: 20px;
              }
              &:last-of-type {
                margin-bottom: 0px;

                border-bottom: none;
              }
              .image-product {
                max-width: 280px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 61px;
                  height: 64px;
                }
                .info-image {
                  font-size: 15px;
                }
              }
              .costs-product {
                flex: 0;
              }
              .quantity-product {
                margin-left: 25px;
                margin-right: 50px;
                flex: 2.5;
                .counter {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                .counter-number {
                  font-size: 25px;
                  margin: 0 10px;
                  color: transparent;
                  background-image: linear-gradient(to right, #00aefd, #ff6bcb);
                  -webkit-background-clip: text;
                  background-clip: text;
                }
                .counter button {
                  width: 20px;
                  height: 20px;
                  background-color: #ccc;
                  border: 0;
                  color: white;
                  border-radius: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                }
              }
              .total-product {
                flex: 3;
              }
              .operation {
                flex: 1;
                cursor: pointer;
              }
            }
          }
          .final-buy-cart {
            .title-final-cart {
              width: 350px;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              min-height: 120px;
              padding: 20px;
              border-radius: 10px;
              display: flex;
              flex-direction: column;
              .text {
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
              }
              .buy {
                width: 100%;
                height: 60px;
                font-size: 20px;
                cursor: pointer;
                background-color: #ee3f41;
                color: #fff;
                border: none;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

.scroll-top-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

// Đăng nhập
.btn-login {
  border: none;
  padding: 4px;
  outline: none;
  font-weight: 600;
  color: #717070;
  // background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-login i {
  padding-left: 8px;
  font-size: 20px;
}

.search-btn i {
  font-size: 20px;
  color: #717070;
  cursor: pointer;
}

/* MODAL CONTAINER */

.modal {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition: all 0.2s ease-in-out;
}

.modal-container {
  max-width: 526px;
  margin: 60px auto;
  background: #fff;
  /* padding: 0 40px; */
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;
  transition: top 0.4s ease-in-out;
  overflow: hidden;
}

.modal-header {
  width: 100%;
}

.header-main {
  display: flex;
  /* justify-content: space-between; */
  /* padding-left: 40px; */
  font-weight: 600;
  font-size: 17px;
}

.modal-login,
.modal-register {
  padding: 20px 0;
  cursor: pointer;
  flex-basis: 50%;
  text-align: center;
}

.modal-register {
  /* background-color: burlywood; */
}

.text-desc {
  display: block;
  margin: 20px 0;
  text-align: center;
}

.btn-container {
  padding: 0 40px;
}

.container-inner {
  display: flex;
  justify-content: space-between;
}

.btn-container img {
  width: 20px;
}

.login-google,
.login-facebook {
  padding: 10px 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.text-or {
  display: block;
  margin: 20px 0;
  text-align: center;
  font-size: 15px;
  position: relative;
}

.text-or::after,
.text-or::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #f0f0f0;
  top: 50%;
  transform: translateY(-50%);
}

.text-or::before {
  left: 0;
}

.text-or::after {
  right: 5px;
}

.form-register,
.form-login {
  padding: 0 40px;
}

.form-register input,
.form-login input {
  padding: 16px;
  min-width: 95%;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 6px;
  margin: 10px 0;
}

.name-container,
.password-container,
.email-container {
  margin-bottom: 20px;
}

.title-name,
.title-password,
.title-email {
  margin-bottom: 8px;
}

.password-container {
  position: relative;
}

.password-container .show-hide {
  position: absolute;
  right: 38px;
  top: 44px;
  /* transform: translateY(-50%); */
  color: #7c7c7c;
  cursor: pointer;
  font-size: 16px;
}

.password-container .show-register {
  /* transform: translateY(-50%); */
}

.forget-password {
  margin-bottom: 20px;
  text-align: right;
  cursor: pointer;
  font-style: italic;
  color: #999;
}

.register-login,
.submit-login {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  background-color: #1a7900;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

/* DESCRIPTION */
.desc-register {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.text-policy {
  margin-bottom: 20px;
  line-height: 1.4;
}

.text-policy a {
  color: #306aff;
}

/* OVERLAY */
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  transition-property: opacity, visibility;
  /* z-index: 0; */
}

.modal.show .overlay {
  opacity: 1;
  visibility: visible;
}

/* FOR JS */
.no-active {
  background-color: #eee;
  color: #999;
  width: 100%;
}

/* .modal.show .modal-container {
    top: 30px;
  } */

.modal.show {
  opacity: 1;
  visibility: visible;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.form .invalid input {
  border-color: red !important;
}

.form .invalid .form-message {
  color: red;
  font-style: italic;
}

// sell.ejs
.container-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .payment {
    width: 600px;
    display: flex;
    // align-items: center;
    flex-direction: column;
    gap: 40px;
    .header-payment {
      border-bottom: 1px solid #ccc;
      width: 100%;
      display: flex;
      gap: 200px;
      padding-bottom: 10px;
      i {
        font-size: 20px;
      }
      span {
        font-size: 23px;
      }
    }
    .list-product {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .product {
        display: flex;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 10px 10px;
        gap: 20px;
        border-radius: 6px;
        .image {
          img {
            width: 100px;
            height: 90px;
          }
        }
        .info-image {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .cost-quantity {
            display: flex;
            justify-content: space-between;
            .cost {
              display: flex;
              gap: 10px;
              align-items: baseline;
              .cost-real {
                color: red;
              }
              .cost-discount {
                font-size: 12px;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
    .customer {
      h3 {
        margin-bottom: 10px;
      }
      .info-customer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px 20px;
        border-radius: 6px;
        .name-phone {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .name {
            position: relative;
            .input-name {
              padding: 10px 15px;
              width: 280px;
              border-radius: 4px;
              border: 1px solid #eee;
              transition: all 0.3s ease-in-out;
              outline: none;
              &:not(:placeholder-shown) + .label-name {
                top: 0;
                padding: 0 8px;
                display: inline-block;
                background-color: #fff;
                color: #6a5af9;
              }

              &:focus {
                border-color: #6a5af9;
                + .label-name {
                  top: 0;
                  padding: 0 8px;
                  display: inline-block;
                  background-color: #fff;
                  color: #6a5af9;
                }
              }
            }
            .label-name {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 16px;
              font-size: 13px;
              user-select: none;
              color: #999;
              pointer-events: none;
              transition: all 0.3s ease-in-out;
            }
          }
          .phone {
            position: relative;
            .input-tel {
              padding: 10px 15px;
              width: 270px;
              border-radius: 4px;
              border: 1px solid #eee;
              transition: all 0.3s ease-in-out;
              outline: none;
              &:not(:placeholder-shown) + .label-phone {
                top: 0;
                padding: 0 8px;
                display: inline-block;
                background-color: #fff;
                color: #6a5af9;
              }

              &:focus {
                border-color: #6a5af9;
                + .label-phone {
                  top: 0;
                  padding: 0 8px;
                  display: inline-block;
                  background-color: #fff;
                  color: #6a5af9;
                }
              }
            }
            .label-phone {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 16px;
              font-size: 13px;
              user-select: none;
              color: #999;
              pointer-events: none;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        .email-customer {
          position: relative;
          .input-email {
            padding: 10px 15px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #eee;
            transition: all 0.3s ease-in-out;
            outline: none;
            &:not(:placeholder-shown) + .label-email {
              top: 0;
              padding: 0 8px;
              display: inline-block;
              background-color: #fff;
              color: #6a5af9;
            }

            &:focus {
              border-color: #6a5af9;
              + .label-email {
                top: 0;
                padding: 0 8px;
                display: inline-block;
                background-color: #fff;
                color: #6a5af9;
              }
            }
          }
          .label-email {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
            font-size: 13px;
            user-select: none;
            color: #999;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
          }
        }
        .offer {
          display: flex;
          gap: 5px;
          input {
            cursor: pointer;
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .receive {
      h3 {
        margin-bottom: 10px;
      }
      .info-receive {
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 20px 20px;
        border-radius: 4px;
        .province-district {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          .province-customer {
            position: relative;
            .input-province {
              padding: 10px 15px;
              width: 280px;
              border-radius: 6px;
              border: 1px solid #eee;
              transition: all 0.3s ease-in-out;
              outline: none;
              &:not(:placeholder-shown) + .label-province {
                top: 0;
                padding: 0 8px;
                display: inline-block;
                background-color: #fff;
                color: #6a5af9;
              }

              &:focus {
                border-color: #6a5af9;
                + .label-province {
                  top: 0;
                  padding: 0 8px;
                  display: inline-block;
                  background-color: #fff;
                  color: #6a5af9;
                }
              }
            }
            .label-province {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 16px;
              font-size: 13px;
              user-select: none;
              color: #999;
              pointer-events: none;
              transition: all 0.3s ease-in-out;
            }
          }
          .district-customer {
            position: relative;
            .input-district {
              padding: 10px 15px;
              width: 270px;
              border-radius: 4px;
              border: 1px solid #eee;
              transition: all 0.3s ease-in-out;
              outline: none;
              &:not(:placeholder-shown) + .label-district {
                top: 0;
                padding: 0 8px;
                display: inline-block;
                background-color: #fff;
                color: #6a5af9;
              }

              &:focus {
                border-color: #6a5af9;
                + .label-district {
                  top: 0;
                  padding: 0 8px;
                  display: inline-block;
                  background-color: #fff;
                  color: #6a5af9;
                }
              }
            }
            .label-district {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 16px;
              font-size: 13px;
              user-select: none;
              color: #999;
              pointer-events: none;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        .note-customer {
          position: relative;
          .input-note {
            padding: 10px 15px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #eee;
            transition: all 0.3s ease-in-out;
            outline: none;
            &:not(:placeholder-shown) + .label-note {
              top: 0;
              padding: 0 8px;
              display: inline-block;
              background-color: #fff;
              color: #6a5af9;
            }

            &:focus {
              border-color: #6a5af9;
              + .label-note {
                top: 0;
                padding: 0 8px;
                display: inline-block;
                background-color: #fff;
                color: #6a5af9;
              }
            }
          }
          .label-note {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
            font-size: 13px;
            user-select: none;
            color: #999;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
          }
        }
        .offer {
          display: flex;
          gap: 5px;
          input {
            cursor: pointer;
            width: 15px;
            height: 15px;
          }
        }
      }
    }
    .table-buy {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 20px 20px;
      // height: 200px;
      .discount-customer {
        display: flex;
        justify-content: space-between;
        .costume-input {
          position: relative;
          .input-discount {
            padding: 10px 15px;
            width: 450px;
            border-radius: 6px;
            border: 1px solid #eee;
            transition: all 0.3s ease-in-out;
            outline: none;
            &:not(:placeholder-shown) + .label-discount {
              top: 0;
              padding: 0 8px;
              display: inline-block;
              background-color: #fff;
              color: #6a5af9;
            }

            &:focus {
              border-color: #6a5af9;
              + .label-discount {
                top: 0;
                padding: 0 8px;
                display: inline-block;
                background-color: #fff;
                color: #6a5af9;
              }
            }
          }
          .label-discount {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
            font-size: 13px;
            user-select: none;
            color: #999;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
          }
        }
        .btn-discount {
          background-color: #d70018;
          color: #fff;
          border: none;
          padding: 10px 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      .info-buy {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .quantity,
        .total-money,
        .fee-transport,
        .final-total {
          display: flex;
          justify-content: space-between;
          span {
            &:first-child {
              opacity: 0.6;
            }
          }
        }
        .fee-transport {
          span {
            margin-bottom: 20px;
          }
          border-bottom: 1px solid #eee;
        }
      }
    }
    .pay {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      .pay-cost {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 20px 20px;
        border-radius: 6px;
      }
      .payment {
        display: flex;
        align-items: center;
        height: 60px;
        .btn-pay {
          padding: 10px 10px;
          width: 90%;
          border-radius: 6px;
          background-color: red;
          outline: none;
          border: none;
          color: #fff;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
